p{  
    padding-top: 10px;
    background-color: bisque;
    text-align: center;
    color:firebrick;
}
h1{ 
    padding:50px;
    margin-bottom: 100px;
    background-color: yellowgreen;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

body{
    background-color: beige;
    margin-top:100px;
}